body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #a5a5a5;
  background-image: url("./Imagens/217942.jpg");
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


------------------------- Separate line -------------------------

/* .circular-menu {
  font-size: 20px;
  width: 400px;
  height: 250px;
  margin-left: -200px;
  margin-top: 5rem;
  padding-left: 200px;
  padding-top: 20px;
} */

/* .circular-menu__button {
  display: none;
}*/

/* .circular-menu__button:checked + .circular-menu__icon {
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.circular-menu__button:checked ~ .circular-menu__item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.circular-menu__icon {
  background: #dc143c;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  position: absolute;
  text-align: center;
  top: 20px;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 80px;
  z-index: 2;
}

.circular-menu__icon:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
} 

.circular-menu__icon > .hamburger {
  background: #fff;
  display: block;
  width: 25px;
  height: 3px;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  position: absolute;
  top: 50%;
  transition: transform 0.2s;
}

.circular-menu__icon > .hamburger-bar:nth-child(1) { 
  transform: translate3d(0, -8px, 0);
}

.circular-menu__icon > .hamburger-bar:nth-child(2) {
  transform: translate3d(0, 0, 0);
}

.circular-menu__icon > .hamburger-bar:nth-child(3) {
  transform: translate3d(0, 8px, 0);
} 

.circular-menu__item {
  background: #dc143c;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 32px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 80px;
}

.circular-menu__item:hover {
  color: #dc143c;
  background: #f08080;
}

.circular-menu__item:active,
.circular-menu__item:focus {
  color: #8b0000;
} */
